body{
    /* height: 200px; */
}
.parent{
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 1000px;
    align-items: flex-end;
    justify-content: flex-start;
    width: 80%;    
    padding: 10%;
}
.child1{
    background-color: aqua;
    height: 100px;
    width: 50%;
}
.child2{
    background-color: blue;
    height: 100px;
    width: 50%;
}
.child3{
    background-color: chartreuse;
    height: 100px;
    width: 50%;
}
