body{
    /* height: 200px; */
}
.parent{
    display: grid;
    background-color: blue;
    height: 500px;
    padding:50px;
}
.child1{
    background-color: blueviolet;
    height: 170px;
}
.child2{
    background-color:aqua;
    height: 170px;
    
}
.child3{
    background-color:brown;
    height: 100px;
   
}